/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image-page: url(./../images/cover-image-dark.png);
  --color-accent: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --color-subtitle: var(--color-accent);
  --color-menu: var(--color-accent);
  --color-decor: var(--color-accent);
  --color-decor-text: #000028;
}

.theme-dark .header__recording {
  display: block;
}
