/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-page: url(./../images/cover-image-light.png);
  --color-accent: #ff8dcb;
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-subtitle: var(--color-text);
  --color-menu: var(--color-text);
  --color-decor: var(--color-text);
  --color-decor-text: var(--color-text);
}

.theme-light .header__recording {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-page: url(./../images/cover-image-light.png);
    --color-accent: #ff8dcb;
    --color-text: #353430;
    --color-title: #ffc2e6;
    --color-subtitle: var(--color-text);
    --color-menu: var(--color-text);
    --color-decor: var(--color-text);
    --color-decor-text: var(--color-text);
  }

  .header__recording {
    display: none;
  }
}
