/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-page: url(./../images/cover-image-light.png);
  --color-accent: #ff8dcb;
  --colot-text: #353430;

  --color-title: #ffc2e6;
  --color-subtitle: var(--colot-text);
  --color-description: var(--colot-text);
  --bg-color-section: #fff1f7;
  --color-section: var(--colot-text);
  --color-menu: var(--colot-text);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-page: url(./../images/cover-image-light.png);
    --color-accent: #ff8dcb;
    --colot-text: #353430;

    --color-title: #ffc2e6;
    --color-subtitle: var(--colot-text);
    --color-description: var(--colot-text);
    --bg-color-section: #fff1f7;
    --color-section: var(--colot-text);
    --color-menu: var(--colot-text);
  }
}

.theme-light .header__recording {
  display: none;
}
