/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-page: url(./../images/cover-image-light.png);
  --color-accent: #ff8dcb;
  --color-title: #ffc2e6;
  --color-subtitle: #353430;
  --color-description: #353430;
  --bg-color-section: #fff1f7;
  --color-section: #353430;
  --color-menu: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-page: url(./../images/cover-image-light.png);
    --color-accent: #ff8dcb;
    --color-title: #ffc2e6;
    --color-subtitle: #353430;
    --color-description: #353430;
    --bg-color-section: #fff1f7;
    --color-section: #353430;
    --color-menu: #353430;
  }
}

.theme-light .header__recording {
  display: none;
}
